name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  tox:
    name: ${{ matrix.name }}
    runs-on: ubuntu-latest

    container: python:${{ matrix.python }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - {name: '3.13', python: '3.13', tox: py313}
          - {name: '3.12', python: '3.12', tox: py312}
          - {name: 'format', python: '3.13', tox: format}
          - {name: 'mypy', python: '3.13', tox: mypy}
          - {name: 'pep8', python: '3.13', tox: pep8}
          - {name: 'package', python: '3.13', tox: package}

    steps:
      - uses: actions/checkout@v3

      - name: update pip
        run: |
          pip install -U wheel
          pip install -U setuptools
          python -m pip install -U pip

      - run: pip install tox

      - run: tox -e ${{ matrix.tox }}
